body{
	margin: 0;
	font-family: Georgia, serif;
	font-size: 18px;
	background-color: #40A8C4

}

header{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgb(79, 87, 88);
	color: #40A8C4;
	letter-spacing: 1.2px;
}

.container{
	display: flex;
	justify-content: center;
}

#survey-form{
	margin-top: 40px;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
	max-width: 400px;
}

#name-label{
	margin-top: 20px;
}

fieldset{
	padding-bottom: 0px;
}

#title{
	letter-spacing: 1.3px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 30px;
}

#description{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 25px;
}

input[type="text"], input[type="email"], input[type="number"]{
	font-family: Helvetica;
	font-size: 16px;
	padding:5px;
	padding-left: 7px;
	margin-top: 3px;
	margin-bottom: 30px;
	width: 100%;
	box-sizing : border-box;
	height: 40px;
	border-radius: 5px;
	border: none;
	border: 1px solid #516185;
}
 
p{
	margin-top: 35px;
	margin-bottom: 6px;
}

.first-question-para{
	margin-top: 20px;
}

textarea{
	font-family: Helvetica;
	font-size: 16px;
	padding:5px;
}

select{
	font-family: Helvetica;
	font-size: 15px;	
	height: 35px;
	padding:5px;
}


textarea{
  width: 100%;
  box-sizing : border-box;
  padding: 8px;
}

button{
	margin-top: 20px;
	font-family: Helvetica;
	font-size: 16px;
	margin-bottom: 40px;
	background-color: #516185;
	border: none;
	padding: 10px;
	width: 100px;
	cursor: pointer;
	color: #fff;
	letter-spacing: 1px;
	border-radius: 5px;
}

button:hover{
	background-color: #49587A;
}

label{
	display: inline-block;
	width: 100px;
	margin-bottom: 3px;
}

  textarea{
  	width: 100%;
  }
